body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: orange;
}
fieldset{
    color: whitesmoke;
    border-color: blueviolet;
}
form{
    border:1px

}
#thr{
    border: 2px dashed #475ad4;
    padding: 10px;
}